.finishPayment-component {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    min-height: 80vh;
    width: 100%;
    gap: 4rem;
    padding-left: 7rem;
    padding-right: 7rem;

}

.checkout {
    width: 50rem;
}

.quantity-delete {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.deleteIcon {
    font-size: 1.7rem;
    cursor: pointer;
}

.deleteIcon:hover {
    transform: scale(1.2);
}

.unit-price {
    display: flex;
    margin-left: 3rem;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bolder;

}

.card-payment-imgMercadoPago {
    display: flex;
    margin-top: 1rem;
}

.container-aux {
    display: flex;
    flex-direction: row;
    gap: 14rem;
}

.infoAux {
    width: 14rem;
}

.card-payment-imgMercadoPago.botton {
    width: 22rem;
}

.card-payment-imgMercadoPago.botton:hover {
    background-color: rgba(27, 37, 43, 0.63);
}

.button-borrar {
    border: none;
}

.p-cantidad {
    text-align: center;
    color: black;
    padding: 5px 0px 0px 0px;
}

.loader-payment {
    font-size: 60px;
    background: black;
    color: white;
    text-align: center;
    padding: 300px 0px;
}


.paginationxd{
    margin-bottom: 5rem;
}