.finishPayment-component{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    min-height: 80vh;
    width: 100%;
    gap: 4rem;
}

.checkout{
    width: 50rem;
}

.quantity-delete{
    display: flex;
    flex-direction: row;
}