.anticon-github {
      font-size: 20px;
      color: #e4e0e0;
      margin-left: 15px;

}

.equipo-container {
      background-image: url('../Assets/equipo-fondo.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.9;
      text-align: right;
      min-height: calc(100vh - 45.2px);

}

.auxNosotros{
      display: flex;
      margin-top: 5rem;
      margin-left: 3rem;
}