.contenedor {
      display: flex;
      flex-direction: row;
      margin-top: 70px;
      padding-bottom: 50px;
}

.contenedor-int {
      background-color: rgb(245, 238, 238);
      padding-right: 500px;
      border-radius: 0 30px 30px 0px;
}

.contenedor img {
      position: relative;
      border-radius: 65% 0 60% 80%;
      width: 50%;
      animation: img 3s;
      margin-top: 20px;
}

@keyframes img {
      0% {
            transform: rotate(-10deg);
      }

      20% {
            transform: rotate(10deg);
      }

      40% {
            transform: rotate(-10deg);
      }

}

.contenedor-text {
      font-style: oblique;
      text-align: left;
      font-size: 20px;
      font-weight: 200px;
      margin-left: 60px;
      margin-top: 60px;
      letter-spacing: 0.08rem;
      text-shadow: 100px;
      color: rgb(64, 67, 69);
      width: 620px;
      position: absolute;
      line-height: 28px;
      background-color: rgb(245, 238, 238)
}

.contenedor h2 {
      font-size: 1.7rem;
      margin-top: 50px;
      margin-bottom: 30px;
      position: relative;
      z-index: 1;
}

.button {
      position: relative;
      margin-top: 400px;
      margin-left: 200px;
      margin-bottom: 50px;
}