* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-admin {
    display: flex;
    min-height: 80vh;
}

.form-ant {
    padding: 20px 40px;
    max-width: 600px;
}

.select-form {
    height: 30px;
    width: 350px;
    border-radius: 5px;
}

h1 {
    padding: 10px 0;
}

.parrafo-juego {
    color: red;
    padding: 0px 0px 10px 40px;
}

.parrafo-juego-select {
    color: blue;
    padding: 0px 0px 10px 40px;
}

.userInfoContainer.menuOptions {
    margin-top: 5rem;
    margin-left: 2rem;

}

.userInfoContainer {
    display: flex;
    flex-direction: row;
}