* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.admin-component {
    min-height: calc(100vh - 45.2px);
    max-width: 1300px;
    margin: 0 auto 0;
}

.admin-component .forms-render {
    padding-top: 40px;
    
}

.form-ant {
    padding: 20px 40px;
    max-width: 600px;
}

.select-form {
    height: 30px;
    width: 350px;
    border-radius: 5px;
}

h1 {
    padding: 10px 0;
}

.parrafo-juego {
    color: rgba(255, 0, 0, 0.733);
    padding: 0px 0px 10px 40px;
}

.parrafo-juego-select { 
    color: rgba(9, 22, 29, 0.712);
    padding: 0px 0px 10px 40px;
}

.userInfoContainer .menuOptions {
    border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
    box-shadow: 10px 0 5px -10px #00000020;
}

.userInfoContainer {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 45.2px);
}

.formCreateNewProduct{
    margin-top: 3rem;
    margin-left: 15rem;
    margin-bottom: 3rem;
    width: 25rem;
}

.buttonFormCreateProduct{
     margin-left: 7.2em; 
}

.admin-component .buttonSearch{
    color: rgba(9, 22, 29, 0.712);
    margin-bottom: 3rem;
}

.admin-component .searchUserListContainer{
    margin-left: 15rem;
    margin-top: 3rem;
}

