.dashboard-component {
    display: flex;
        flex-wrap: wrap;
    margin-bottom: 4rem;
    
}

/* s */



.progress {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 2rem;
}

.stadisticas {
    width: 25rem;

}



.stadisticas-dashboard-component {
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.estadisticas {
    display: flex;
    gap: 6rem;
    width: 70%;
    margin-left: 6rem;
    margin-bottom: 2rem;
    transform: scale(0.9); /* Ajusta la escala según necesites */
    transform-origin: top left;
  }


.selectores-dash {
    width: 10rem;
}


.serach-list {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 0px 50px 0px;
}

.total-de-usuarios-y-rates{
    display: flex;
    ;
}

.pie-bars {
    display: flex;
    margin-left: 7rem;
    gap: 4rem;
    transform: scale(0.9); /* Ajusta la escala según necesites */
    transform-origin: top left;
  }

.total-area {
    margin-left: 7rem;
    gap: 5rem;
    display: flex;
    justify-content: space-between;
     transform: scale(0.9); /* Ajusta la escala según necesites */
    transform-origin: top left;
}

.donut{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 15px;
    margin-left: 3rem;
}
.grafico3{
    padding: 15px;
}

.tituloooss{
    color: rgb(53, 53, 53);
    font-style: oblique;
}

.titulooosspie{
    color: rgb(53, 53, 53);
    font-style: oblique;
}

.grafico99{
    display: flex;
    flex-direction: column;
}
.pie{
    display: flex;
    flex-direction: column;
    gap: 1rem
}


.grafico1{
    display: flex;
    gap: 3rem;
    flex-direction: column;
    margin-left: 1rem;
    height: 20rem;
}