.dashboard-component {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    
}

.pie {
    margin-top: 4rem;
    margin-bottom: 2rem;
}


.progress {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 2rem;
}

.stadisticas {
    width: 25rem;

}



.stadisticas-dashboard-component {
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.estadisticas {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
  }


.selectores-dash {
    width: 10rem;
}


.serach-list {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 0px 50px 0px;
}

.total-de-usuarios-y-rates{
    display: flex;
    ;
}

.pie-bars {
    padding: 20px 20px 0px 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

.total-area {
    padding: 20px 20px 0px 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.donut{
    padding: 15px;
}
.grafico3{
    padding: 15px;
}


