.products-boughts {
    margin-bottom: 0.5rem;
}

.aux {
    display: flex;
    gap: 0.4rem;
}

.drawer{
    transform: scale(0.99); /* Ajusta la escala según necesites */
}

.products {
    margin-top: 0.5rem;
}

.rows {
    margin-bottom: 0.5rem;
}

.body-pagos-admin {
    padding-bottom: 40px;
    padding-right: 150px;
    transform: scale(0.9); /* Ajusta la escala según necesites */
    transform-origin: top left;
}