.card-component{
    margin-top: 3rem;
}

.card-component .favIconCardHome{
    display: flex;
    margin-top: 1rem;
    margin-left: 0.5rem;
    font-size: 1.2rem;
}

.card-component .favIconCardHome:hover{
    transform:scale(1.2)
}

.card-component .iconsCardHomeContainer{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.card-component .ant-card-meta-description {
    font-weight: 500;
    color: black;
}