.card-component {
    margin-top: 3rem;
    transform: scale(0.9); /* Ajusta la escala según necesites */
    transform-origin: top left;
}

.card-component .favIconCardHome {
    display: flex;
    margin-top: 1rem;
    margin-left: 0.5rem;
    font-size: 1.2rem;
}

.card-component .favIconCardHome:hover {
    transform: scale(1.2)
}

.card-component .iconsCardHomeContainer {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.card-component .ant-card-meta-description {
    font-weight: 500;
    color: black;
}

.img-card-home {
    height: 230px;
}

.p-carrito {
    color: blue;
}

.p-carrito-borrado {
    color: red;
}