.home-component {
    overflow: hidden;
}

.home-component .listCards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: calc(180px * 4 + 20px * 3);
}

.home-component .homeContainerUltraMega {
    display: flex;
    gap: 40px;
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
    flex-direction: row;
}

.home-component .filterHome {
    border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
    box-shadow: 10px 0 5px -10px #00000020;
    position: relative;
}

.home-component .paginationHomeStyle {
    margin: 40px 0;
}

.home-component .filterHome ul.ant-menu-light.ant-menu-root.ant-menu-inline {
    background-color: transparent;
    border-inline-end: none !important;
    padding-top: 40px;
}

.home-component .containerExtreme {
    display: flex;
    width: -webkit-fill-available;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.home-component .paginated {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 6rem;
    width: 70rem;

}

.home-component .arrow {
    font-size: 1.5rem;
    margin-left: 1rem;
    cursor: pointer;
}

.home-component .loading {
    margin-top: 10rem;
}


.home-component .paginatedContainer {
    display: flex;
    z-index: 999;
    margin-left: 10rem;
}

.home-component .buttonPaginated {
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    border: none;
    background-color: rgba(9, 22, 29, 0.712);
    color: white;
    cursor: pointer;
    margin-left: 1rem;

}

.home-component .buttonPaginated:hover {
    transform: scale(1.1);
}


.home-component .buttonPaginated.active {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}

.current-page {
    font-size: 21px;
    color: blue;
    padding: 3px 10px;
}

.alert-home {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 150px 0px;
}