.container-chat {
      display: flex;
      flex-direction: column;
      width: 450px;
      align-items: flex-end;
      gap: 0rem;
}

.header {
      height: 3rem;
      width: 100%;
      background-color: #3b82f6;
      padding: 13.5px;
      font-size: 16px;
      color: #fff;
      font-weight: 700;
      border-top-left-radius: 0.375rem;
      border-top-right-radius: 0.375rem;
}

.container-messages {
      height: 25rem;
      width: 100%;
      background-image: url('../Assets/desktop-wallpaper-190-best-playstation-in-2020-retro-loop-ps4.png');
      background-size: cover;
      padding: 0.25rem;
      padding-top: 15px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: 0px;
      align-items: center;
      margin-bottom: 0px;
}

.messages {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      font-size: 13px;
}

.form-chat {
      display: flex;
      width: 100%;
      border-bottom-left-radius: 0.375rem;
      border-bottom-right-radius: 0.375rem;
      gap: 2rem;
      background-color: #ffffff;
      padding: 0.5rem;
}

.input-chat {
      border: none;
      border-radius: 0.375rem;
      outline-color: #dddbdb;
      outline-width: 0.03px;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
      width: 75%;
}


.bg-button {
      background-color: #3b82f6;
      border: none;
}

.bg-button:hover {
      background-color: #0c3980;
}

.bg-dark {
      background-color: black;
}

.text-white {
      color: #fff;
}

.font-bold {
      font-weight: bold;
}

.py-2 {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
}

.px-4 {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
}

.rounded-md {
      border-radius: 0.375rem;
}

.bg-white {
      background-color: white;
}

.mb-4 {
      margin-bottom: 0.25rem;
}

.flex-justify-end {
      display: flex;
      justify-content: flex-end;
}

.flex-justify-start {
      display: flex;
      justify-content: flex-start;
}

.w-15 {
      width: 3.75rem;
}

.h-15 {
      height: 3.75rem;
}

.rounded-full {
      border-radius: 9999px;
}

.mr-4 {
      margin-right: 1rem;
}

.w-3 {
      width: 2rem;
}

.h-3 {
      height: 2rem;
}

.rounded-lg {
      border-radius: 0.5rem;
}

.chatbot-button {
      background-color: transparent;
      border: none;
      padding: 0;
}


.loading {
      position: absolute;
      z-index: 10;
      width: 67px;
}

.loading .dot {

      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: #f5efef;
      display: block;
      float: left;
      margin: 0 0 0 8px;


}

.loading .dot:first-child {

      margin: 0;
}

.loading .dot.one {
      animation: cycleOne 1s ease-in-out infinite;
      animation-direction: normal;
}

.loading .dot.two {
      animation: cycleTwo 1s ease-in-out infinite;
      animation-direction: normal;
}

.loading .dot.three {
      animation: cycleThree 1s ease-in-out infinite;
      animation-direction: normal;
}

@keyframes cycleOne {
      0% {
            background: rgba(150, 150, 150, 0.4);
      }

      33.333% {
            background: rgba(150, 150, 150, 1);
      }

      66.6667% {
            background: rgba(150, 150, 150, 0.4);
      }

      100% {
            background: rgba(150, 150, 150, 0.4);
      }
}

@keyframes cycleTwo {
      0% {
            background: rgba(150, 150, 150, 0.4);
      }

      33.333% {
            background: rgba(150, 150, 150, 0.4);
      }

      66.6667% {
            background: rgba(150, 150, 150, 1);
      }

      100% {
            background: rgba(150, 150, 150, 0.4);
      }
}

@keyframes cycleThree {
      0% {
            background: rgba(150, 150, 150, 0.4);
      }

      33.333% {
            background: rgba(150, 150, 150, 0.4);
      }

      66.6667% {
            background: rgba(150, 150, 150, 0.4);
      }

      100% {
            background: rgba(150, 150, 150, 1);
      }
}