.carousel-component {
    margin: 40px auto;
    width: 880px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.carousel-component .left-arrow {
    transform: rotate(180deg);
    position: absolute;
    left: -60px;
}

.carousel-component .right-arrow {
    position: absolute;
    right: -60px;
}

.carousel-component .right-arrow svg,
.carousel-component .left-arrow svg {
    width: 40px;
    height: 40px;
    cursor: pointer;
}


.carousel-component .scroll {
    display: flex;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.carousel-component .scroll::-webkit-scrollbar { /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
}