.body-card {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-left: 10rem;
}

.comentarios-card {
    padding: 15px;
    margin-left: 30px;
    width: 40rem
}

.descripcion-juego {
    font-size: 18px;
}


.buttonsCardDetail {
    width: 15rem;
}


.buttonsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.cardsContainer {
    display: flex;
    flex-direction: row;
}

/* .cardDetailDescription{
    margin-top: 3rem;
} */

.detailNameInfo {
    display: flex;
    flex-direction: column;
}

.card-detail-component .title {
    margin-left: 1.5rem;
    margin-top: 1.6rem;

}

.card-detail-component2 {
    transform: scale(0.8); /* Ajusta la escala según necesites */
    transform-origin:  left;}

.nameFormat {
    display: flex;
    flex-direction: row;
}

.individualReview {
    display: flex;
    flex-direction: row;
}



.ant-rate .rate .css-dev-only-do-not-override-mxhywb .ant-rate-disabled{
    display: flex;
    justify-content: flex-start;
}

.rate {
    display: flex;
}

.rateAux {
    display: flex;
    margin-left: 0.7rem;

}

.reviewsContainer {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.nameComment {
    display: flex;
    flex-direction: column;
}

.comment {
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem;
}
.name_review{
    margin-left: 1rem;
}

.imgRate {
    display: flex;
    flex-direction: row;
}

.cardFormReview {
    display: flex;
    flex-direction: column;
}

.formReview {
    margin-top: 1rem;
    font-size: large;

}

.rateForm {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.inputButton {
    display: flex;
    flex-direction: row;

}

.buttonAux {
    width: 5rem;
    margin-left: 3rem;
    margin-top: 1rem;

}

.form {
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.loader-card-detail {
    font-size: 60px;
    background: rgb(255, 255, 255);
    color: white;
    text-align: center;
    padding: 300px 0px;
}

.p-carrito-cardD {
    color: blue;
    font-size: 16px;
}

.aux7{
    margin-bottom: 2rem;
}

.titulooo{
    color: rgb(53, 53, 53);
    font-style: oblique;
    margin-left: 4rem;
}