.card-button {
    background-color: rgb(151, 106, 106);
    color: white;
    font-weight: bold;
    font-size: 15px;
    height: 36px;
    width: 200px;
    border-radius: 20px;
}

.card-button:hover {
    color: black;
}