.loginForm-component{
    display: flex;
    width: 100%;
    margin-top: 5rem;
    justify-content: center;
    align-items: center ;
    min-height: 30rem
}

.loginForm-component .button{
    width: 17rem;

}

.loginForm-component .buttonOrRegister{
    display: flex;
    flex-direction: column;
}

.registerComponent{
    display: flex;
    width: 100%;
    margin-top: 5rem;
    justify-content: center;
    align-items: center ;
    min-height: 30rem
}

.inputAux{
    width: 40rem;
}