.login-form {
    min-height: 80vh;
    width: 900px;
    padding: 110px 0px 0px 500px;
}

.button-form-ir-a {
    text-decoration: none;
    background-color: white;
    border: none;
    color: blue;
}

.login-form-button {
    width: 400px;
}

.form-forgot {
    padding: 0px 0px 0px 160px;
}

.form-sing-up {
    width: 1000px;
    padding: 70px 0px 0px 250px;
    min-height: 110vh;
}

.select-sing-up {
    height: 38px;
    width: 100%;
    border-radius: 7px;
    border-color: rgb(216, 209, 226);
    color: rgb(100, 94, 87);
    font-size: 15px;
    Overflow: hidden;
}

.select-sing-up::-webkit-scrollbar {
    display: none;
}

.option-sing-up {
    color: rgb(100, 94, 87);
    font-size: 15px;
}

.p-error {
    color: red;
}

.p-successful {
    color: blue;
}

.p-complete {
    color: rgb(52, 165, 86);
}

.alert {
    max-height: 70px;
    max-width: 420px;
    padding: 0px 0px 0px 120px;
}