.form-login {
    min-height: 80vh;
    width: 500px;
    padding: 50px 50px;
}

.button-form-ir-a {
    text-decoration: none;
    background-color: white;
    border: none;
    color: blue;
}

.form-forgot {
    padding: 0px 0px 0px 160px;
}

.form-sing-up {
    padding: 50px 0px 0px 0px;
}

.select-sing-up {
    height: 38px;
    width: 100%;
    border-radius: 7px;
    border-color: rgb(190, 182, 204);
    color: rgb(100, 94, 87);
    font-size: 15px;
    Overflow: hidden;
}

.select-sing-up::-webkit-scrollbar {
    display: none;
}

.option-sing-up {
    color: rgb(100, 94, 87);
    font-size: 15px;
}

.p-error {
    color: red;
}

.p-successful {
    color: blue;
}

.p-complete {
    color: rgb(52, 165, 86);
}

.alert {
    height: 120px;
    width: 300px;
}       
