.login-form {
    min-height: 80vh;
    width: 900px;
    padding: 110px 0px 0px 500px;
}

.button-form-ir-a {
    text-decoration: none;
    background-color: white;
    border: none;
    color: blue;
}

.login-form-button {
    width: 400px;
}

.form-forgot {
    padding: 0px 0px 0px 160px;
}

.div-singup-principal {
    align-items: center;
    justify-content: center;
}

.form-sing-up {
    padding: 60px 0px 0px 0px;
    width: 900px;
    align-items: center;
    justify-content: center;
}

.select-sing-up {
    height: 38px;
    width: 100%;
    border-radius: 7px;
    border-color: rgb(216, 209, 226);
    color: rgb(100, 94, 87);
    font-size: 15px;
    Overflow: hidden;
}

.select-sing-up::-webkit-scrollbar {
    display: none;
}

.option-sing-up {
    color: rgb(100, 94, 87);
    font-size: 15px;
}

.p-error {
    color: red;
}

.p-successful {
    color: blue;
}

.p-complete {
    color: rgb(52, 165, 86);
}

.alert {
    max-height: 70px;
    max-width: 420px;
}

.button-sing-up-body {
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 300px;
    width: 400px;
}

.Button-sing-up-submit {
    background-color: rgb(155, 64, 240);
    color: white;
}

.buttonsing-up-none {
    display: none;
}