.nav-component.nav{
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(9, 22, 29, 0.712);
  backdrop-filter: blur(10px);
  box-shadow: 0px 2px 10px gray;
}

.nav-component.navAux{
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0;
  justify-content: center;
  width: 100%;
  background-color: rgba(9, 22, 29, 0.712);
  backdrop-filter: blur(10px);
  box-shadow: 0px 2px 10px gray;
}


.nav-component .rutasNavContainer{
  display: flex;
  gap: 20px ;
  align-items: center;
  justify-content: space-between;
  max-width: 1336px;
  padding: 5px 30px;
  width: 100%;
  position: relative;
}

.nav-component .rutasNavContainer ul {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-component .rutasNavContainer ul li {
  list-style: none;
}

.nav-component .buscador:focus {
    outline: none;
    border: none;
}
  
  .nav-component .rutasNav{
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
}

.nav-component .profileNav{
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: row;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
}

.nav-component .profileNav .ant-dropdown-trigger {
  display: flex;
  align-items: center;
}

.nav-component .rutasNavAux{
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}

.nav-component .rutasNav2Aux{
    color: white;
    cursor: pointer;
    
  }
  .nav-component .rutasNav2AuxUltimate{
  color: white;
  cursor: pointer;
}

.nav-component .rutasNavAlternativeAux2{
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;  
  }

  .nav-component .rutasNavAlternativeAux{
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}

.nav-component .rutasNav3{
  display: flex;

}


.nav-component .ant-dropdown-trigger    {
    margin-left: 0;
    padding-right: 0;
}

.nav-component .ant-space-item {
  font-size: 16px;
  line-height: 20px;
}

.nav-component .cart{
  font-size: 1.5rem;
  cursor: pointer;
  color: white
}

  .nav-component .cartAux{
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    color: white
  }

  .nav-component .buscadorAux{
  display: flex;
  border-radius: 0.4rem;
  border: none;
}

.nav-component .buscador{
  padding-left: 40px;
  display: flex;
  height: 2rem;
  border-radius: 0.4rem;
  border: none;
}